body{
    background-color: black;
}
.parent{
    position: relative;
    justify-content: space-between;
}
.pic1{
    width: 33%;
    height: 254px;
    position: absolute;
    z-index: 3;
}
.pic2{
    width: 45%;
    height: 254px;
    left: 440px ;
    position: absolute;
    z-index: 1;
}
.pic3{
    width: 33%;
    height: 254px;
    left: 1040px ;
    right: 0;
    position: absolute;
    z-index: 2;

}
p{
    width: 550px;
    height: 59px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 14.5px;
    top: 190px;
    left: 500px ;
    text-align: center;
    position: absolute;
    z-index: 5;
}